@import "reset.less";
@import "css3.less";
@import "forms.less";
@import "menus.less";
@import "colourFunctions.less";
@import "sgs-grid.less";

@oneGreen: rgb(213,222,83);

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h1,h2,h3,h4 {
	font-family: 'RokkittRegular', Arial, sans-serif;
}

#container {
	width: @total-width;
	margin: 0 auto;
}

header {
	.column(12);
	
	margin-bottom: 15px;

	h1 {
		width: 571px;
		height: 100px;
		background: url(../images/logo.jpg) top left no-repeat;
		text-indent: -9999px;
	}
}

nav {
	.column(3);

	h2 {
		color: @oneGreen;
		font-size: 36px;
		line-height: 1em;
		margin-bottom: 10px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 5px 0;

			a {
				text-decoration: none;
				color: #212121;

				&:hover {
					color: @oneGreen;
				}

			}

			ul {
				margin-left: 25px;
			}
		}
	}
}

#main {
	.column(9);
	border-top: 2px solid @oneGreen;
	padding-top: 10px;


	article {

		.example {
			width: 100%;
			height: 200px;
		}

		aside {

			code {
				display: block;
				margin: 0;
				padding: 10px 5px;
				background-color: #121212;
				color: #efefef;
			}



		}
	}


}